body {
    margin: 100;
    padding: 20;
    font-family: Caslon;
  }
  
  header {
    background-color: #D4AB7F;
    border-radius: 5px;
    margin: 0 auto;
    height: 60px;
  }
  
  header h1 {
    padding: 10px;
    margin: 0;
    font-family: Baskerville;
    color: white;
  }
  
  /* main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-gap: 20px;
    padding-top: 10px;
    padding-bottom: 30px;
  } */
  
  .container {
	font-family: Caslon;
   }

  form input, textarea {
    background-color: white;
    border-radius: 5px;
    border: white;
    font-size: 1.00em;
    font-family: Caslon;
  }

  div.card {
    background-color: #fff5eb;
    box-shadow: 10px 5px #e0c3a4;
    padding: 10px 10px 10px 30px;
    border-radius: 5px;
    margin: 20px;
    font-size: 1em;
  }
  
  li {
    font-size: 1em;
    list-style: none;
    padding-right: 20px;
  }
  
  button {
    font-size: 1.0em;
    color: #ffffff;
    /* background-color: gray; */
    /*border-radius: 10px;*/
  }
  
  button.release {
    float: right;
    background-color: #E1332D;
  }




